@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

:root {
  --darkblue: hsl(233, 26%, 24%);
  --limegreen: hsl(136, 65%, 51%);
  --brightcyan: hsl(192, 70%, 51%);
  --grayishblue: hsl(233, 8%, 62%);
  --lightgrayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Public Sans', sans-serif;
  color: var(--darkblue);
  margin: 0;
  overflow-x: hidden;
  padding: 0 8rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
  padding: 0 8rem;
}

.logo-img--nav {
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.nav-link {
  position: relative;
  color: var(--grayishblue);
  padding: 0 30px;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -35px;
  height: 4px;
  width: 0;
  background-color: var(--grayishblue);
  transition: all 0.2s ease;
}

.nav-link:hover::after {
  width: calc(100% - 60px);
}

.btn-invite {
  border: 0;
  border-radius: 25px;
  background: linear-gradient(
    100deg,
    var(--limegreen) 0%,
    var(--brightcyan) 100%
  );
  width: 160px;
  padding: 15px;
  letter-spacing: 1px;
  color: #fff;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
}

.btn-open,
.btn-close {
  display: none;
}

h1 {
  padding-top: 70vh;
  text-align: center;
}

@media (max-width: 890px) {
  body,
  .container-nav {
    padding: 0 4rem;
  }

  .btn-invite--nav {
    display: none;
  }
  .btn-open,
  .btn-close {
    display: inline;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .nav-menu {
    transform: translateY(-100px);
    width: 0;
  }

  .nav-menu.active {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    width: 300px;
    padding: 30px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in;
  }

  .nav-item {
    padding: 10px;
  }

  .overlay {
    transform: translateY(-1000px);
    opacity: 0;
  }

  .overlay.active {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: -1;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 10%,
      hsla(233, 26%, 24%, 0.8) 70%
    );
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.5s linear;
  }

  .nav-link:hover::after {
    width: 0;
  }
}

.hidden {
  display: none;
}
