*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --dark-blue: hsl(229, 31%, 21%);
}


body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: var(--dark-blue);
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: 500;
    text-align: center;
}

h1 {
    font-size: 32px;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

figure {
    margin: auto;
}



.btn {
    padding: 12px;
    border: 2px solid transparent;
    border-radius: 5px;
    min-width: 150px;
    box-shadow: 0px 3px 4px 1px rgba(50, 50, 50, 0.1);
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: var(--dark-blue);
    margin: 5px
}

.btn-red {
    background-color: var(--soft-red);
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
}

.btn-blue{
    background-color: var(--soft-blue);
    color: white;
}

.btn-transparent {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-wide {
    width: 80%;
}

.btn-red:hover {
    color: var(--soft-red);
    background-color: white;
    border-color: var(--soft-red);
}


.btn, [role="button"], i {
    cursor: pointer;
}

.btn-info {
    display: none;
}

.flex-row-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
}

.w-90 {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.w-80 {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}


.mt-3 {
    margin-top: 3rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mb-10 {
    margin-bottom: 10rem;
}




.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mx-a {
    margin-left: auto;
    margin-right: auto;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* GENERAL STYLING ENDS HERE ********************************************************/

.closed-nav {
    width: 80vw;
    text-align: center;
}

#open {
    z-index: 10;
}

#nav-logo {
    overflow: visible;    
}

#desktop-nav {
    display: none;
    align-items: center;
}

.desktop-nav-item {
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .2s ease-in;
}

.desktop-nav-item:hover {
    color: var(--soft-red);
}

.open-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-blue);
    opacity: .95;
    color: white;
    transition: all .5s ease-in;
    z-index: 2;
}

.nav-head {
    width: 80vw;
}

.mobile-nav-item {
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-top: 1px solid var(--grayish-blue);
    border-bottom: 1px solid var(--grayish-blue);
    margin-bottom:-1px;
    width: 80vw;
    text-align: center;
}

.social-media {
    align-self: center;
    position: absolute;
    bottom: 80px;
}

.social-media-icon {
    margin: 25px;
    transform: scale(1.3);
    padding: 5px;
    overflow: visible;
}



#mobile-nav-login {
    font-size: 18px;
}

/* NAVBAR ENDS - INTRO SECTION STARTS HERE ******************************************************************/

#hero, #feature-img {
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100vw;
    text-align: center;
}

.illustration {
    width: 80vw;
}

.illu-1 {
    width: 90vw;
}

.blue-bg {
    width: 75%;
    height: 60%;
    background-color: var(--soft-blue);
    border-radius: 100px 0 0 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -10;
}

.description {
    color: var(--grayish-blue);
    text-align: center;
}

/* INTRO SECTION ENDS - FEATURES SECTION STARTS HERE *********************************/

.blue-bg2 {
    width: 70%;
    height: 50%;
    background-color: var(--soft-blue);
    border-radius: 0 100px 100px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;
}

#feature-links {
    width: 80vw;
    margin: auto;
    text-align: center;
}

.feature-link {
    border-top: 1px solid var(--grayish-blue);
    padding: 20px;
    color: var(--grayish-blue);
    position: relative;
    transition: font-size .2s ease-in;
}

.feature-link:hover {
    font-size: 20px;
}


.feature-link:last-child {
    border-bottom: 1px solid var(--grayish-blue);
}

.feature-link.active {
    color: var(--dark-blue);
    padding-bottom: 17px;
}

.feature-link:after {
    content:"";
    width: 0;
}

.feature-link.active:after {
    content:"";
    border-bottom: 3px solid var(--soft-red);
    display: block;
    width: 100px;
    margin: 0 auto;
    position: relative;
    top: 16px;
    transition: width .2s ease-out;
}

/* FEATURES SECTION ENDS - DOWNLOAD SECTION STARTS HERE ***********************/

.cardholder, .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 50px 0 20px 0;
    border-radius: 10px;
    box-shadow: 0px 3px 4px 1px rgba(50, 50, 50, 0.1);


}

h3 {
    margin-bottom: 1rem;
}

.version {
    color: var(--grayish-blue);
    margin-top: 0;
}







@media screen and (min-width: 700px) {
    #desktop-nav {
        display: flex;   
    }

    #open {
        display: none;
    }

    #intro {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
        margin-left: auto;
    }

    #hero {
        width: 50vw;
    }

    .unit {
        width: 40vw;        
        margin-right: 5rem;
    }

    .unit .left {
        text-align: left;
    }

    .illu-1 {
        width: 30vw;
        order: 2;
    }

    .buttons {
        margin-left: 0;
    }

    #features-overview {
        width: 30vw;
        min-width: 380px;
    }

    #feature-links {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .feature-link {
        border-top: none;
        border-bottom: 1px solid var(--grayish-blue);
    }

    .wrap {
        display: flex;
        align-items: center;
    }

    .description.left, .title.left {
        text-align: left;
    }

    .feature {
        width: 30vw;
    }
    

    #feature-details {
        width: 40vw;
    }



    #feature-img {
        width: 50vw;
    }

    .illu-2 {
        width: 30vw;
    }

    .btn-info {
        display: block;
    }

    .cardholder {
        height: 600px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .card {
        margin: 3rem
    }

    .card:nth-of-type(2) {
        align-self: center;
    }

    .card:nth-of-type(3) {
        align-self: flex-end;
    }







}


/* MEDIA RULES ENDS HERE ***************************/

.unvisible {
    height: 0;
    opacity: 0;
}

.hide {
    display: none;
}


