:root {
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --dark-blue: hsl(229, 31%, 21%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 30px auto 0 auto;
    font-family: 'Rubik', sans-serif;
    color: var(--dark-blue);
    line-height: 1.5;
    font-size: 18px;
    width: 80vw;
    margin: auto;
}


.closed-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.nav-menu {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--dark-blue);
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in;
}

.hidden-nav {
    height: 0;
    opacity: 0;
}

.nav-menu .nav-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 80vw;
    margin: 3rem 0 2rem 0;
}

.fa-times, .fa-bars{
    font-size: 22px;
}

.nav-menu ul {
    padding: 0;
}


.nav-menu ul li {
    color: white;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 25px;
    border-top: 1px solid var(--grayish-blue);
    width: 80vw;
}

.nav-menu ul li:last-of-type {
    border-bottom: 1px solid var(--grayish-blue);
}

.nav-menu button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 5px;
    width: 80vw;
    padding: 10px;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: 1rem;
}

nav .social-media {
    position: absolute;
    bottom: 60px;
    transform: scale(1.2);
}

nav .social-media svg {
    margin: 30px;
}
nav i {
    padding: 15px;
}

i.hide {
    display: none;
}



.illustration {
    display: block;
    width: 80vw;
    max-width: 80vw;
    height: auto;
    margin: 5rem auto 2rem auto;
}




























/* }

ul {
    padding: 0;
}

#menu {
    font-size: 24px;
}


figure {
    position: relative;
    margin: 0;
}

#hero {
    margin-top: 0;
}

.blue-bg {
    width: 320px;
    height: 200px;
    background-color: var(--soft-blue);
    border-radius: 150px 0 0 150px;
    position: absolute;
    bottom: 0;
    left: 80px;
    z-index: -1;
}

.blue-bg2 {
    width: 320px;
    height: 200px;
    background-color: var(--soft-blue);
    border-radius: 0px 150px 150px 0px;
    position: absolute;
    top: 80px;
    right: 80px;
    z-index: -1;
}

.illustration {
    width: 80vw;
    max-width: 80vw;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 5rem;
}




body {
    margin: 30px auto 0 auto;
    font-family: 'Rubik', sans-serif;
    color: var(--dark-blue);
    line-height: 1.5;
    font-size: 18px;
    overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
}

nav ul {
    background-color: var(--soft-red);
    color: white;
    padding: 60px;
    line-height: 2;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: fixed;
    top: -50px;
    right: -50px;
    z-index: 10;
    text-align: center;
    visibility: visible;
    opacity: 1;
    transition: all 0.2s linear;
}

nav ul li {
    list-style-type: none;
}



.hide {
display: none;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

h1 {
    font-size: 30px;
}

section {
    margin: 10rem auto;
    width: 90vw;
}


h1, h2, h3{
    text-align: center;
    font-weight: 500;
    margin: 3rem auto 1.5rem auto;
    width: 80vw;
}



.feature h2{
    margin-top: 10rem;
}

.description {
    color: var(--grayish-blue);
    text-align: center;
    margin-top: 0;
}


.buttons {
    margin-top: 2rem;
    width: 90vw;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border: none;
    border-radius: 8px;
    background-color: #f7f7f7;
    color: #5d5d5d;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 18px 5px;
    margin: 0 8px;
    width: 160px;
    box-shadow: rgba(0,0,0,0.1) 0 3px 8px;
}

.btn-active {
    background-color: var(--soft-blue);
    color: white;
}

button:focus {
    outline: none;
}

.wrap {
    border-top: 1px solid #cfcfcf;
    width: 100%;
    text-align: center;
    padding: 15px;
}

#feature-links{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#feature-links a {
    text-decoration: none;
    color: var(--grayish-blue);
    width: 100%;
    text-align: center;
}

.wrap:first-of-type {
    margin-top: 2rem;
}

.wrap:last-of-type {
    border-bottom: 1px solid #cfcfcf;
}

#feature-links a.active {
    color: var(--dark-blue);
}

.active {
    padding: 15px;
    border-bottom: 3px solid red;
}

#download-overview {
    margin-bottom: 5rem;
}

.cardholder, .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 70vw;
    padding: 3.5rem 1rem 2rem 1rem;
    box-shadow: 0px 15px 18px 2px rgba(0,0,0,0.1);
    border-radius: 15px;
    margin-bottom: 3rem;
}

.card .border{
    margin: 1.5rem 0;
}

.card p.version {
    color: var(--grayish-blue);
    font-size: 14px;
    margin-top: 10px;
}

.card h3 {
    margin: 1.5rem auto 0 auto;
    width: auto;
}

.card .btn.btn-active {
    width: 90%;
    margin-bottom: 0;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    border-bottom: 1px solid var(--grayish-blue);
    font-size: 16px;
}

.answer {
    width: 80vw;
    margin: auto;
    color: var(--grayish-blue);
    font-size: 16px;
}

.fa-chevron-down {
    color: var(--soft-blue)
}

.fa-chevron-up {
    color: var(--soft-red);
}

#faq button {
    width: 30%;
    margin: 3rem auto;
    display: block;
}

#jumbotron {
    width: 100vw;
    background-color: var(--soft-blue);
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 5rem 5vw;
    text-align: center;
}

#jumbotron p {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;

}

#jumbotron form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#jumbotron form input {
    width: 90vw;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-top: 1.5rem;
    padding: 0 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

#jumbotron form input[type="submit"] {
    color: white;
    background-color: var(--soft-red);
    font-family: 'Rubik', sans-serif;
    box-shadow: rgba(0,0,0,0.1) 0 3px 8px;
}


h4 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    color: white;
}


.footer-links ul li svg {
    margin: 2rem auto;
    transform: scale(1.5);
}

footer ul li {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 1.5rem;
}

.social-media ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.social-media ul li {
    margin: 1.5rem 1rem;
}


.copyright {
    font-size: 10px;
}

@media screen and (min-width: 700px){
    .blue-bg, .blue-bg2 {
        width: 1000px;
    }

    .blue-bg2 {
        top: 250px;
        right: 200px;
    }

    .illustration {
        width: 70vw;
    }

    #feature-links{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .wrap {
        
    }
} */