*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --dark-blue: hsl(229, 31%, 21%);
}


body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: var(--dark-blue);
    width: 90vw;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

.flex-row-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-2 {
    margin-bottom: 2rem;
}




.my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mx-a {
    margin-left: auto;
    margin-right: auto;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 2px;
}


.btn {
    padding: 12px;
    border: 2px solid transparent;
    border-radius: 5px;
    min-width: 150px;
    box-shadow: 0px 3px 4px 1px rgba(50, 50, 50, 0.1);
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: var(--dark-blue);
}

.btn-red {
    background-color: var(--soft-red);
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
}

.btn-transparent {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.btn-wide {
    width: 80vw;
}

.btn-red:hover {
    color: var(--soft-red);
    background-color: white;
    border-color: var(--soft-red);
}


.btn, [role="button"], i {
    cursor: pointer;
}

.closed-nav {
    width: 80vw;
    text-align: center;
}

#nav-logo {
    overflow: visible;    
}

#desktop-nav {
    display: none;
    align-items: center;
}

.desktop-nav-item {
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .2s ease-in;
}

.desktop-nav-item:hover {
    color: var(--soft-red);
}

.open-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-blue);
    opacity: .95;
    color: white;
    transition: all .5s ease-in;
}

.nav-head {
    width: 80vw;
}

.mobile-nav-item {
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-top: 1px solid var(--grayish-blue);
    border-bottom: 1px solid var(--grayish-blue);
    margin-bottom:-1px;
    width: 80vw;
    text-align: center;
}

.social-media {
    align-self: center;
    position: absolute;
    bottom: 80px;
}

.social-media-icon {
    margin: 25px;
    transform: scale(1.3);
    padding: 5px;
    overflow: visible;
}



#mobile-nav-login {
    font-size: 18px;
}



@media screen and (min-width: 700px) {
    #desktop-nav {
        display: flex;   
    }

    #open {
        display: none;
    }
}



.unvisible {
    height: 0;
    opacity: 0;
}

.hide {
    display: none;
}

#open {
    z-index: 10;
}

