/* --------- GENERAL --------- */
:root {
  --darkblue: hsl(233, 26%, 24%);
  --limegreen: hsl(136, 65%, 51%);
  --brightcyan: hsl(192, 70%, 51%);
  --grayishblue: hsl(233, 8%, 62%);
  --lightgrayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  color: var(--grayishblue);
  line-height: 1.4;
}

body {
  font-family: 'Public Sans', sans-serif;
  color: var(--darkblue);
  margin: 0;
  overflow-x: hidden;
}

/* --------- NAVIGATION --------- */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
}

img-logo {
  cursor: pointer;
}

.nav-menu {
  width: 0;
  height: 0;
  opacity: 0;
}

.nav-menu.active {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  width: 80%;
  height: 280px;
  border-radius: 5px;
  padding: 20px 0;
  opacity: 1;
  transition: all 0.2s ease;
}

.nav-item {
  list-style-type: none;
  text-align: center;
  padding: 15px;
}

.nav-link {
  padding: 15px;
  color: var(--darkblue);
  font-weight: 700;
}

.overlay {
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 0.2s ease;
}

.overlay.active {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 10%,
    hsla(233, 26%, 24%, 0.8) 70%
  );
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
}

.btn-request--nav {
  display: none;
}

.btn-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* --------- BUTTON --------- */
.btn-request {
  border: 0;
  border-radius: 25px;
  background: linear-gradient(
    100deg,
    var(--limegreen) 0%,
    var(--brightcyan) 100%
  );
  min-width: 160px;
  padding: 15px;
  letter-spacing: 1px;
  color: #fff;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
}

.btn {
  transition: all 0.2s ease;
}

.btn:active {
  transform: scale(0.98);
}

/* --------- HEADER --------- */
.header-container--img {
  background-image: url(./assets/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100vw;
}

.img-mockup {
  width: 90%;
  position: relative;
  top: -65px;
}

h1 {
  font-weight: 300;
  font-size: 38px;
  margin-bottom: 2rem;
}

.header-container--text {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-m {
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  /* --------- NAV --------- */
  .btn-request--nav {
    display: inline-block;
  }

  .btn-menu {
    display: none;
  }

  .nav-container {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem 10rem;
    max-height: 80px;
  }

  .nav-menu {
    width: auto;
    height: auto;
    opacity: 1;
    display: flex;
  }

  .nav-link {
    position: relative;
    color: var(--grayishblue);
    padding: 0 0.5vw;
    font-weight: 400;
  }

  .nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    height: 4px;
    width: 0;
    background-color: var(--grayishblue);
    transition: all 0.2s ease;
  }

  .nav-link:hover::after {
    width: 100%;
  }

  /* --------- HEADER --------- */
  header {
    padding: 0 10rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .header-container--img {
    background-image: url(./assets/bg-intro-desktop.svg);
    width: auto;
    bottom: 150px;
    right: -180px;
    flex-shrink: 3;
  }

  .img-mockup {
    top: 90px;
    left: 140px;
    width: auto;
    transform: scale(0.9);
  }

  .header-container--text {
    text-align: left;
    align-items: flex-start;
    max-width: 460px;
    flex-shrink: 0;
  }
}

.hidden {
  display: none;
}

/* .nav-container,
header,
section {
  padding: 0 10rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
}

.img-logo {
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.nav-link {
  position: relative;
  color: var(--grayishblue);
  padding: 0 30px;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  height: 4px;
  width: 0;
  background-color: var(--grayishblue);
  transition: all 0.2s ease;
}

.nav-link:hover::after {
  width: calc(100% - 60px);
}

.btn-request {
  border: 0;
  border-radius: 25px;
  background: linear-gradient(
    100deg,
    var(--limegreen) 0%,
    var(--brightcyan) 100%
  );
  width: 160px;
  padding: 15px;
  letter-spacing: 1px;
  color: #fff;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
}

.btn {
  transition: all 0.2s ease;
}

.btn:active {
  transform: scale(0.98);
}

.btn-request--nav {
  margin: 1rem;
}

.btn-request--header {
  margin: 2rem 0;
}

.btn-open,
.btn-close {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-container--img {
  background-image: url(./assets/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: left;
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
  bottom: 130px;
  transform: translateX(380px);
}

.img-mockup {
  position: relative;
  top: 100px;
  left: 330px;
}

h1 {
  margin-bottom: 2rem;
  max-width: 300px;
  font-weight: 300;
}

.header-container--text {
  max-width: 400px;
  min-width: 400px;
}

section.reasons {
  background-color: var(--very-light-gray);
  width: 100vw;
}

@media (max-width: 890px) {
  body,
  .nav-container {
    padding: 0 4rem;
  }

  .btn-invite--nav {
    display: none;
  }
  .btn-open,
  .btn-close {
    display: inline;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .nav-menu {
    transform: translateY(-100px);
    width: 0;
  }

  .nav-menu.active {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    width: 300px;
    padding: 30px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in;
  }

  .nav-item {
    padding: 10px;
  }

  .overlay {
    transform: translateY(-1000px);
    opacity: 0;
  }

  .overlay.active {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: -1;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 10%,
      hsla(233, 26%, 24%, 0.8) 70%
    );
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.5s linear;
  }

  .nav-link:hover::after {
    width: 0;
  }
}

.hidden {
  display: none;
} */
